body{
  padding: 40px;
  margin: 40px;
  border: 1px solid black;
}
.App {
  width: 400px;
  margin: 0 auto;
  border: 2px dotted red;
  text-align: center;
  padding: 10px;
}
.controller{
  background-color: rgb(209, 209, 209);
  padding: 10px 0px;
}
.controller button{
  width: 50px;
  height: 30px;
  font-weight: 700;
  border-radius: 2px;
  margin-right: 5px;
}